<mat-card>
    <mat-card-header>
        <!-- https://stackoverflow.com/a/43482040/3538289 -->
        <div class="mat-card-header-text">
            <mat-card-title>
                <a class="link"
                    (click)="navigateToLink($event)">{{redirectDomain}}/{{link.id}}</a>
                <button mat-button (click)="copyToClipboard($event)">
                    <span class="material-icons">content_copy</span>
                </button>
            </mat-card-title>
            <mat-card-subtitle>
                {{
                (link.link.length > 65) ?
                (link.link | slice:0:65)+'..' : (link.link)
                }}
            </mat-card-subtitle>
        </div>
    </mat-card-header>
    <mat-card-content>
        Created At: {{link.created_at}}
    </mat-card-content>
</mat-card>